@import '../../base';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem; // made changes from 1rem to 1.5 rem

    background-color: $black-primary;

    height: 10vh;
    width: 100%;
    position: fixed;
    top:0;
    z-index:999;

    &__menu{
        display: none;
    }
    &__div{
        display: flex;
    }
    &__logo{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        object-fit: contain;
        display: block;
    }
    &__youTube{
        font-weight: 700;
        font-size: larger;
    }
    form{
        // width: 30%;
        flex: 0.6;
        display: flex;
        padding: 0.1rem;
        margin: 0 1rem;
        border-radius: 20px;
        border: 1.2px solid;
        background-color: $black-secondary;

        input{
            width: 100%;
           
            border:none;
            font-weight: 500;
            background: transparent;
            padding: 0.3rem;
            color: $text-color;

            &:focus{
                outline: none;
            }
        }

        button{
            padding: 0 1.25rem;
            color: $text-color;
            background-color: #222222;
            border:none;
            border-bottom-right-radius:20px;
            border-top-right-radius: 20px;

            &:focus{
                border:none;
            }
        }
    }

    &__icons{
        flex:.15;
        display: flex;
        justify-content: space-around;
        align-items:center;
        img{
            border-radius:50%;
            width: 40px;
            object-fit:contain;
            margin-left: 5px;
        }
    }
}
// @media(max-width:$breakpoint-small){

// }
@media (max-width: $breakpoint-small) {  //breakount initialized in _base.scss
    .header{
        padding: 1rem;
        form{
            flex: 1;;
        }

        &__menu{
            display:block;
        }
        &__logo{
            display: none;
        }
        &__icons>*:not(img){ // >* will target all the elements except img
                display: none;
        }
    }
}