@import '../../_base.scss';

.Categoriesbar{
        padding: 0.5rem 0;
        font-size:  0.8rem;

        display: flex;
        overflow-x:scroll;  //to add scrollbar to categories section

        &::-webkit-scrollbar{
            width: 0px;
        }

        scrollbar-width: none;  //for fireFox

        span{
            margin-right: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            white-space: nowrap;
            border: 1.5px solid $text-color; // $text-color comes from _bash.scss
            border-radius: 999px;


            &:hover{
                background-color: #374a59;
            }

            &.active{
                color:#fff;
                background-color: #606060;
                border-color: $border-color;
            }

        }
}